@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(to bottom left, #9900ff 0%, #00ffff 100%);
  font-family: "Varela Round", sans-serif;
}

h1 {
  color: white;
  font-family: "Varela Round", sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
}

.scoreboard {
  position: absolute;
  top: 25px;
  left: 25px;
  font-family: "Varela Round", sans-serif;
  display: flex;
}

.score {
  background-color: peachpuff;
  margin: 10px;
  padding: 10px 15px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: bold;
}

.gameboard {
  /* border: 1px solid black; */
  /* width: 350px; */
  display: flex;
  flex-direction: column;
}

.gameboardrow {
    display: flex;
    flex-direction: row;
}

.boxes {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    color: white;
    /* border: 1px solid black; */
}

.vr {
    width: 5px;
    height: 100px;
    background-color: white;
}

.hr {
    width: 310px;
    height: 5px;
    background-color: white;
}

.buttons {
  margin-top: 50px;
  font-family: 'Varela Round', sans-serif;
}

.btn {
  background: palegoldenrod;
  border-radius: 40px;
  margin: 10px;
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
